<div class="layout-container">
  <header role="banner">
    {{ page.header }}
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>

  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
</div>
